<!-- <div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <app-card>
                <h3 class="card-title">laptop</h3>
                <button class="btn btn-success">Laptop</button>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h3 class="card-title">Mbile</h3>
                <button class="btn btn-success">Mobile</button>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h3 class="card-title">TC</h3>
                <button class="btn btn-success">TC</button>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h3 class="card-title">WM</h3>
                <button class="btn btn-success">WM</button>
            </app-card>
        </div>
    </div>    
</div>
<div class="col-md-6">
    <ng-container *ngIf="status">
        <div class="products">
            <div *ngFor="let proitem of products">
                    {{proitem.name}}
            </div>        
        </div>
    </ng-container>    
</div>
 -->

<div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">{{userName}}</h5>
      <input type="text" name="uname" id="uname" class="form-control" placeholder="username" #uname/><br/>
    <button class="btn btn-success"  (click)="OnCallMethod(uname)">Update Username</button>
    </div>
  </div>