<!-- <div class="container">
    <button class=" btn btn-primary" value="Laptop" (click)="onAddCart($event)">Laptop</button>
    <button class=" btn btn-success" value="TV" (click)="onAddCart($event)">TV</button>
    <button class=" btn btn-primary"  value="WashingMachine" (click)="onAddCart($event)">WashingMachine</button>
</div>
{{msg}} -->

<!-- <input type="text" name="uname" #infoName value="aditya">

<button (click)="onName(infoName)">Get name</button>

<input type="text" name="user" id="user" [(ngModel)]="user">

{{user}} -->

<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker>
    </div>
  </div>